@define-color cc-bg #0f0f1b ;
@define-color noti-border-color #47423E;
@define-color noti-bg #121212;
@define-color noti-bg-darker #121212;
@define-color noti-bg-hover #150e10 ;
@define-color noti-bg-focus #150e10 ;
@define-color noti-close-bg #1B1D1D;
@define-color noti-close-bg-hover #150e10 ;
@define-color text-color #fafbf6 ;
@define-color text-color-disabled #928374;
@define-color bg-selected #1B1D1D;


@define-color black     #1C1B19;
@define-color red       #F75341;
@define-color green     #519F50;
@define-color yellow    #FBB829;
@define-color blue      #2C78BF;
@define-color purple    #ff9e64 ;
@define-color aqua      #0AAEB3;
@define-color gray      #BEAC8E;
@define-color brgray    #928374;
@define-color brred     #F3594B;
@define-color brgreen   #B1B946;
@define-color bryellow  #E9B243;
@define-color brblue    #80AA9E;
@define-color brpurple  #D3869B;
@define-color braqua    #8CBA7F;
@define-color white     #BAA67F;
@define-color bg2       #282A36;

* {
    font-family: JetBrainsMono Nerd font-size;
}


.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 0.8;
    background: alpha(@red, 0.25);
    border-radius: 0px;
    margin: 0px;
}

.notification {
    border-radius: 0px;
    padding: 0;
    border: 1px solid @noti-close-bg;
    background: @noti-bg-darker;
}

.notification-content {
    background: transparent;
    padding: 8px;
}

.close-button {
    background: transparent;
    color: @red;
    text-shadow: none;
    padding: 0;
    border-radius: 0%;
    margin-top: 0px;
    margin-right: 0px;
    box-shadow: none;
    border: none;
    min-width: 1px;
    min-height: 1px
}

.close-button:hover {
    box-shadow: none;
    background: transparent;
    transition: all .0s ease-in-out;
    border: none
}

.notification-default-action,
.notification-action {
    padding: 3px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: none;
    color: @text-color;
    transition: all .0s ease-in-out;
    font-size: 8px;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover;
    /* text-shadow: 0 0 3px @text-color; */
}

.notification-default-action {
    border-radius: 0px
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.notification-action {
    border-radius: 0;
    border-top: none;
    border-right: none
}

.notification-action:first-child {
    border-bottom-left-radius: 0px;
    background: @bgblack
}

.notification-action:last-child {
    border-bottom-right-radius: 0px;
    background: @bgblack
}

.notification-group-headers {
  font-weight: bold;
  font-size: 10px;
  color: @white;
}

.notification-group-icon {
  color: @red;
  margin-right: 3px;
}

.notification-group-collapse-button {
  background: @noti-close-bg;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.notification-group-collapse-button:hover {
  background: @noti-close-bg-hover;
  color: @red;
}

.notification-group-close-all-button {
  background: transparent;
  border: none;
  min-width: 20px;
  min-height: 20px;
}

.notification-group-close-all-button:hover {
  background: transparent;
  color: @red
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 0px
}

.inline-reply-button {
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 0px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

.body-image {
    margin-top: 0px;
    background-color: transparent;
    border-radius: 0px
}

.summary {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    color: @purple;
    margin-left: 10px;
    /* text-shadow: 0 0 3px @red; */
}

.time {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    color: @blue;
    text-shadow: none;
    margin-right: 10px
}

.body {
    font-size: 10px;
    font-weight: normal;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    font-weight: bold;
    margin-left: 10px;
}

.image {
    background: transparent;
    border-radius: 0px;
}

.control-center {
    background: alpha(@cc-bg, 0.89);
    border: 0px;
    border-radius: 0px;
    margin: 5px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: .5
}

.floating-notifications .notification-row {
    background: transparent;
    margin: 5px 5px 0 0;
}

.blank-window {
    background: alpha(black, 0.0)
}

.widget-title {
    color: #458588;
    margin: 5px 5px 5px 5px;
    font-size: 15px;
    font-weight: bold;
    /* text-shadow: 0 0 3px @red; */
}

.widget-title>button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Symbols Nerd Font';
    color: #458588;
    background: transparent;
    border-radius:0px;
    border: 0px transparent;
    margin: 0px;
    padding: 0px;
}

.widget-title>button:hover {
    background: transparent;
    /* text-shadow: 0 0 3px @brgreen; */
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: #7aa2f7;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: #7aa2f7;
}

.widget-dnd > switch:checked {
  background: #f7768e;
  border: 1px solid #f7768e;
}

.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-label {
    margin: 10px;
}

.widget-label>label {
    font-size: 8px;
    color: @text-color;
}
.widget-mpris {
    color: @text-color;
    background: transparent;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.widget-mpris-player {
    padding: 0px;
    margin: 0px
}

.widget-mpris-title {
    font-weight: 600;
    font-size: 10px
}

.widget-mpris-subtitle {
    font-size: 10px
}
.widget-buttons-grid {
    font-size: x-large;
    padding: 8px;
    margin: 20px 10px 10px;
    border-radius: 10px;
    background: @noti-bg-darker;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @noti-bg-hover;
    border-radius: 10px;
    color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    /* background: @noti-bg-hover; */
    color: @brgreen;
    /* text-shadow: 0 0 3px @white; */
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}


