/**
  ┌─────────────────────────────────────┐
  │         WAYBAR THEME FILE           │
  │                                     │
  │  Original: PipshagLE                │
  │  Modified: me                       │
  └─────────────────────────────────────┘
*/

/* Import dynamic Matugen colors and stuff */
@import "colors.css";
@define-color critical #e60000;  
@define-color urgent @error_container;

/*
 ▗▄▖ ▄▄▄▄  ▄ ▄▄▄▄  ▗▞▀▜▌   ■  ▄  ▄▄▄  ▄▄▄▄   ▄▄▄ 
▐▌ ▐▌█   █ ▄ █ █ █ ▝▚▄▟▌▗▄▟▙▄▖▄ █   █ █   █ ▀▄▄▄  
▐▛▀▜▌█   █ █ █   █        ▐▌  █ ▀▄▄▄▀ █   █ ▄▄▄▀ 
▐▌ ▐▌      █              ▐▌  █                  
                          ▐▌                     
*/
@keyframes blink-critical {
    0%   { color: @on_surface; text-shadow: none; }
    50%  { color: @critical; text-shadow: 0 0 4px @critical; }
    100% { color: @on_surface; text-shadow: none; }
}

@keyframes blink-warning {
    0%   { color: @on_surface; }
    50%  { color: @on_tertiary; }
    100% { color: @on_surface; }
}

/*
▗▄▄▖  ▗▄▖  ▗▄▄▖▗▄▄▄▖ ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▖   ▗▄▄▄▖
▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌   ▐▌     █   ▝▚▞▘ ▐▌   ▐▌   
▐▛▀▚▖▐▛▀▜▌ ▝▀▚▖▐▛▀▀▘ ▝▀▚▖  █    ▐▌  ▐▌   ▐▛▀▀▘
▐▙▄▞▘▐▌ ▐▌▗▄▄▞▘▐▙▄▄▖▗▄▄▞▘  █    ▐▌  ▐▙▄▄▖▐▙▄▄▖
*/
* {
    border: none;
    border-radius: 1.5px;
    min-height: 0;
    margin: 0.1em 0.2em;
}

#waybar {
    background: alpha(@surface, 0.7);
    color: @on_surface;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 10px;
    font-weight: bold;
}

/*
▗▞▀▘ ▄▄▄  ▄▄▄▄  ▄▄▄▄   ▄▄▄  ▄▄▄▄   ▄▄▄  ■  ▄   ▄ 
▝▚▄▖█   █ █ █ █ █ █ █ █   █ █   █ ▀▄▄▗▄▟▙▄▖█   █ 
    ▀▄▄▄▀ █   █ █   █ ▀▄▄▄▀ █   █ ▄▄▄▀ ▐▌   ▀▀▀█ 
                                       ▐▌  ▄   █ 
                                       ▐▌   ▀▀▀  
*/  

#battery, 
#memory, 
#network, 
#wireplumber, 
#tray, 
#custom-kernel, 
#custom-gpu, 
#custom-notifi, 
#Clock {
    padding: 0 0.8em;
    border-radius: 0px 6px 0px 6px;
}

/* CPU, Temp, Memory */
#cpu, #temperature, #memory {
    background: @inverse_primary;
    color: @on_tertiary_container;
    border-radius: 0px 0px 0px 6px;
    padding: 0 0.6em;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*
 ▄▄▄  ■  ▗▞▀▜▌   ■  ▗▞▀▚▖
▀▄▄▗▄▟▙▄▖▝▚▄▟▌▗▄▟▙▄▖▐▛▀▀▘
▄▄▄▀ ▐▌         ▐▌  ▝▚▄▄▖
     ▐▌         ▐▌       
     ▐▌         ▐▌       
*/
#memory.critical,
#temperature.critical,
#battery.critical,
#cpu.critical {
    font-weight: bold;
    animation: blink-critical 1.5s linear infinite alternate;
}
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    font-weight: bold;
    animation: blink-warning 2s linear infinite alternate;
}
/*
▄   ▄  ▄▄▄   ▄▄▄ █  ▄  ▄▄▄ ▄▄▄▄  ▗▞▀▜▌▗▞▀▘▗▞▀▚▖ ▄▄▄ 
█ ▄ █ █   █ █    █▄▀  ▀▄▄  █   █ ▝▚▄▟▌▝▚▄▖▐▛▀▀▘▀▄▄  
█▄█▄█ ▀▄▄▄▀ █    █ ▀▄ ▄▄▄▀ █▄▄▄▀          ▝▚▄▄▖▄▄▄▀ 
                 █  █      █                        
                           ▀                        
*/
#workspaces button {
    font-weight: bold;
    padding: 0;
    color: @on_surface;
    background: @surface_container_high;
    font-size: 1em;
    border-radius: 0px 6px 0px 6px;
}

#workspaces button.visible{ 
                color: @on_primary;
                background-color: @primary_container; 
}
#workspaces button.focused { 
                background: @primary; 
                color: @on_primary; 
                padding: 0 0.4em; opacity: 1; 
}
#workspaces button.urgent { 
                border-color: @urgent; 
                color: @urgent; opacity: 1; 
}
#workspaces button:hover { 
                background: @surface_container; 
                color: @on_surface; 
}

/*
▗▖  ▗▖ ▄▄▄     ▐▌█  ▐▌█ ▗▞▀▚▖ ▄▄▄ 
▐▛▚▞▜▌█   █    ▐▌▀▄▄▞▘█ ▐▛▀▀▘▀▄▄  
▐▌  ▐▌▀▄▄▄▀ ▗▞▀▜▌     █ ▝▚▄▄▖▄▄▄▀ 
▐▌  ▐▌      ▝▚▄▟▌     █           
                                  
 */                                  

/* CPU + Temperature + Memory Group */
#memory { 
         margin-left: -0.6em; 
         border-radius: 0px 6px 0px 0px; 
}
#cpu { 
        border-radius:0px 0px 0px 6px; 
}
#temperature { 
        margin-left:-0.3em; 
        border-radius:0px; 
}
#cpu, #temperature, #memory { 
        background: @on_tertiary_fixed_variant; 
        color: @on_tertiary_container; 
}

/* Audio / Volume */
#wireplumber { background: @secondary; color: @on_secondary;}
#network { background: @primary; color: @on_primary;}
#disk { background: @surface_container_high;color: @on_surface; }
#battery { background: @primary_container; color: @on_primary_container; }
#tray { background: @surface_container_high; }
#clock.time { background: transparent; font-size: 12px; color: @on_secondary_container; }
#custom-notifi { background: @secondary_container; color: @on_secondary_container; }
#custom-kernel { background: @inverse_primary; color: @on_tertiary_container; }
#custom-gpu { background: @tertiary_container; color: @on_tertiary_container; }


