/*╔═══════════════════════════════════════════════════════════════════════════╗
  ║                             Waybar Configuration                          ║
  ║---------------------------------------------------------------------------║
  ║ Original creator : PipshagLE                                              ║
  ║ Modified by       : me                                                    ║
  ╚═══════════════════════════════════════════════════════════════════════════╝*/

/* Import dynamic Pywal colors */
@import url("/home/username/.cache/wal/colors-waybar.css");
@define-color critical #cc241d;
@define-color urgent   #c9545d;

/*
 ▗▄▖ ▄▄▄▄  ▄ ▄▄▄▄  ▗▞▀▜▌   ■  ▄  ▄▄▄  ▄▄▄▄   ▄▄▄ 
▐▌ ▐▌█   █ ▄ █ █ █ ▝▚▄▟▌▗▄▟▙▄▖▄ █   █ █   █ ▀▄▄  
▐▛▀▜▌█   █ █ █   █        ▐▌  █ ▀▄▄▄▀ █   █ ▄▄▄▀ 
▐▌ ▐▌      █              ▐▌  █                  
                          ▐▌                     
*/

@keyframes blink-warning {
    70% {
        color: @foreground;
    }
    to {
        color: @foreground;
        background-color: @color3;
    }
}

@keyframes blink-critical {
    70% {
        color: @foreground;
    }
    to {
        color: @foreground;
        background-color: @critical;
    }
}

/*
▗▄▄▖  ▗▄▖  ▗▄▄▖▗▄▄▄▖ ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▖   ▗▄▄▄▖
▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌   ▐▌     █   ▝▚▞▘ ▐▌   ▐▌   
▐▛▀▚▖▐▛▀▜▌ ▝▀▚▖▐▛▀▀▘ ▝▀▚▖  █    ▐▌  ▐▌   ▐▛▀▀▘
▐▙▄▞▘▐▌ ▐▌▗▄▄▞▘▐▙▄▄▖▗▄▄▞▘  █    ▐▌  ▐▙▄▄▖▐▙▄▄▖
*/
                                              
* {
    border: none;
    border-radius: 1.5px;
    min-height: 0;
    margin: 0.1em 0.2em;
}

#waybar {
    background: @background;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font Propo", "siji";
    font-size: 10px;
    font-weight: bold;
}

/*

▗▞▀▘ ▄▄▄  ▄▄▄▄  ▄▄▄▄   ▄▄▄  ▄▄▄▄   ▄▄▄  ■  ▄   ▄ 
▝▚▄▖█   █ █ █ █ █ █ █ █   █ █   █ ▀▄▄▗▄▟▙▄▖█   █ 
    ▀▄▄▄▀ █   █ █   █ ▀▄▄▄▀ █   █ ▄▄▄▀ ▐▌   ▀▀▀█ 
                                       ▐▌  ▄   █ 
                                       ▐▌   ▀▀▀  
*/                   
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#temperature,
#tray,
#custom-kernel,
#custom-gpu,
#custom-gput,
#custom-notifi,
#custom-wifi,
#clock,
#disk {
    padding: 0 0.8em;
}
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*

 ▄▄▄  ■  ▗▞▀▜▌   ■  ▗▞▀▚▖
▀▄▄▗▄▟▙▄▖▝▚▄▟▌▗▄▟▙▄▖▐▛▀▀▘
▄▄▄▀ ▐▌         ▐▌  ▝▚▄▄▖
     ▐▌         ▐▌       
     ▐▌         ▐▌       
*/
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Warning state styling */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @color3;
    color: @background;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/*
▄   ▄  ▄▄▄   ▄▄▄ █  ▄  ▄▄▄ ▄▄▄▄  ▗▞▀▜▌▗▞▀▘▗▞▀▚▖ ▄▄▄ 
█ ▄ █ █   █ █    █▄▀  ▀▄▄  █   █ ▝▚▄▟▌▝▚▄▖▐▛▀▀▘▀▄▄  
█▄█▄█ ▀▄▄▄▀ █    █ ▀▄ ▄▄▄▀ █▄▄▄▀          ▝▚▄▄▖▄▄▄▀ 
                 █  █      █                        
                           ▀                        
*/
#workspaces button {
    font-weight: bold;
    padding: 0;
    color: @foreground;
    background: @color8;
    font-size: 1em;
}

#workspaces button.visible {
    color: @background;
    background-color: @color4;
}

#workspaces button.focused {
    background: @color6;
    color: @background;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.urgent {
    border-color: @urgent;
    color: @urgent;
    opacity: 1;
}

#workspaces button:hover {
    background: @background;
    color: @foreground;
}

/*
▄▄▄▄   ▄▄▄     ▐▌█  ▐▌█ ▗▞▀▚▖ ▄▄▄ 
█ █ █ █   █    ▐▌▀▄▄▞▘█ ▐▛▀▀▘▀▄▄  
█   █ ▀▄▄▄▀ ▗▞▀▜▌     █ ▝▚▄▄▖▄▄▄▀ 
            ▝▚▄▟▌     █           
*/
#wireplumber {
    background: @color5;
    color: @background;
}

#network {
    background: @color4;
    color: @background;
}

#memory {
    background: @color2;
    color: @foreground;
}

#cpu {
    background: @color10;
    color: @foreground;
}

#disk {
    background: @color8;
    color: @foreground;
}

#temperature {
    background: @color3;
    color: @foreground;
}

#battery {
    background: @color6;
    color: @foreground;
}

#tray {
    background: @color8;
}

#clock.time {
    background: @color12;
    color: @foreground;
}

#custom-notifi {
    background: @color12;
    color: @foreground;
}

#custom-kernel {
    background: @color2;
    color: @foreground;
}

#custom-gpu {
    background: @color2;
    color: @foreground;
}

#custom-gput {
    background: @color2;
    color: @foreground;
}

#custom-wifi {
    background: @color5;
    color: @background;
}

