/*
▄▄▄ ▄   ▄ ▗▞▀▜▌▄   ▄ ▄▄▄▄  ▗▞▀▘
▀▄▄  █ ▄ █ ▝▚▄▟▌█   █ █   █ ▝▚▄▖
▄▄▄▀ █▄█▄█       ▀▀▀█ █   █     
                ▄   █           
                 ▀▀▀            
*/
/*
▗▞▀▘ ▄▄▄  █  ▄▄▄   ▄▄▄ ▄▄▄ 
▝▚▄▖█   █ █ █   █ █   ▀▄▄  
    ▀▄▄▄▀ █ ▀▄▄▄▀ █   ▄▄▄▀ 
          █                
*/
@import url('../../.config/swaync/colors.css');
@define-color cc-bg @background;
@define-color noti-border-color @outline;
@define-color noti-bg @background;
@define-color noti-bg-darker @background;
@define-color noti-bg-hover @surface_bright;
@define-color noti-bg-focus @surface_bright;
@define-color noti-close-bg @outline;
@define-color noti-close-bg-hover @surface_bright;
@define-color text-color @on_surface;
@define-color text-color-disabled @outline;
@define-color bg-selected @outline;

/*
    █  ▄▄▄  ▗▖▗▞▀▜▌█ 
    █ █   █ ▐▌▝▚▄▟▌█ 
    █ ▀▄▄▄▀ ▐▛▀▚▖  █ 
 ▗▄▖█       ▐▙▄▞▘  █ 
▐▌ ▐▌                
 ▝▀▜▌                
▐▙▄▞▘                
*/

* {
    font-family: "Shantell Sans";
}

/*
▄▄▄▄  ▗▞▀▜▌▄ ▄▄▄▄  ▄▄▄▄  ▗▞▀▜▌▄▄▄▄  ▄▄▄▄  ▗▞▀▚▖█ 
█ █ █ ▝▚▄▟▌▄ █   █ █   █ ▝▚▄▟▌█   █ █   █ ▐▛▀▀▘█ 
█   █      █ █   █ █▄▄▄▀      █   █ █   █ ▝▚▄▄▖█ 
           █       █                           █ 
*/
.control-center {
    background: alpha(@cc-bg, 0.89);
    border: 0px;
    border-radius: 15px 0px 0px 0px;
    margin: 5px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: .5;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 0.8;
    background: alpha(@color1, 0.25);
    border-radius: 0px;
    margin: 0px;
}

/*
▄▄▄▄   ▄▄▄     ■  ▄ ▗▞▀▀▘▄ ▗▞▀▘▗▞▀▜▌   ■  ▄  ▄▄▄  ▄▄▄▄  
█   █ █   █ ▗▄▟▙▄▖▄ ▐▌   ▄ ▝▚▄▖▝▚▄▟▌▗▄▟▙▄▖▄ █   █ █   █ 
█   █ ▀▄▄▄▀   ▐▌  █ ▐▛▀▘ █            ▐▌  █ ▀▄▄▄▀ █   █ 
              ▐▌  █ ▐▌   █            ▐▌  █             
              ▐▌                      ▐▌                
*/
.notification {
    border-radius: 0px;
    padding: 0;
    border: 1px solid @noti-close-bg;
    background: @noti-bg-darker;
}

.notification-content {
    background: transparent;
    padding: 8px;
}

.floating-notifications .notification-row {
    background: transparent;
    margin: 5px 5px 0 0;
}

/*
─── CLOSE BUTTON ───
*/
.close-button {
    background: transparent;
    color: @color1;
    text-shadow: none;
    padding: 0;
    border-radius: 0%;
    margin-top: 0px;
    margin-right: 0px;
    box-shadow: none;
    border: none;
    min-width: 1px;
    min-height: 1px;
}

.close-button:hover {
    box-shadow: none;
    background: transparent;
    transition: all .0s ease-in-out;
    border: none;
}

/*
─── NOTIFICATION ACTIONS ───
*/
.notification-default-action,
.notification-action {
    padding: 3px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: none;
    color: @text-color;
    transition: all .0s ease-in-out;
    font-size: 8px;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover;
}

.notification-default-action {
    border-radius: 0px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.notification-action {
    border-radius: 0;
    border-top: none;
    border-right: none;
}

.notification-action:first-child {
    border-bottom-left-radius: 0px;
    background: @background;
}

.notification-action:last-child {
    border-bottom-right-radius: 0px;
    background: @surface_tint ;
}

/*
─── NOTIFICATION GROUPS ───
*/
.notification-group-headers {
    font-weight: bold;
    font-size: 10px;
    color: @on_primary_container;
}

.notification-group-icon {
    color: @color1;
    margin-right: 3px;
}

.notification-group-collapse-button {
    background: @noti-close-bg;
    border: none;
    min-width: 2px;
    min-height: 2px;
}

.notification-group-collapse-button:hover {
    background: @noti-close-bg-hover;
    min-width: 2px;
    min-height: 2px;
    color: @color1;
}

.notification-group-close-all-button {
    background: transparent;
    border: none;
    min-width: 20px;
    min-height: 20px;
}

.notification-group-close-all-button:hover {
    background: transparent;
    color: @color1;
}

/*
─── NOTIFICATION TEXT ELEMENTS ───
*/
.summary {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    color: @tertiary;
    margin-left: 10px;
}

.time {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    background: transparent;
    color: 	@secondary;
    text-shadow: none;
    margin-right: 10px;
}

.body {
    font-size: 10px;
    font-weight: bold;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-left: 10px;
}

/*
─── NOTIFICATION IMAGES ───
*/
.body-image {
    margin-top: 0px;
    background-color: transparent;
    border-radius: 0px;
}

.image {
    background: transparent;
    border-radius: 0px;
}

/*
─── INLINE REPLY ───
*/
.inline-reply {
    margin-top: 8px;
}

.inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 0px;
}

.inline-reply-button {
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 0px;
    color: @text-color;
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

/*
▄   ▄ ▄    ▐▌  ▗▞▀▚▖   ■   ▄▄▄ 
█ ▄ █ ▄    ▐▌  ▐▛▀▀▘▗▄▟▙▄▖▀▄▄  
█▄█▄█ █ ▗▞▀▜▌  ▝▚▄▄▖  ▐▌  ▄▄▄▀ 
      █ ▝▚▄▟▌▗▄▖      ▐▌       
            ▐▌ ▐▌     ▐▌       
             ▝▀▜▌              
            ▐▙▄▞▘              
*//*
─── TITLE ───
*/
.widget-title {
    background-color:	@primary_container;
    color: 	@on_surface;
    margin: 5px;
    padding:6px;
    border-radius:15px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}

.widget-title > button {
    font-size: 23px;
    font-weight: bold;
    background-color:	@outline;
    font-family: 'Symbols Nerd Font';
    color: 	@background;
    background: transparent;
    border-radius: 15px 0px 0px 0px ;
    border: 0px transparent;
    margin: 0px;
    padding: 3px;
}

.widget-title > button:hover {
    background: transparent;
}

/*
─── DO NOT DISTURB SWITCH ───
*/
.widget-dnd {
    background: @secondary;
    padding:7px;
    margin: 0px 5px;
    border-radius: 0px 0px 15px 0px; 
    font-size: 12px;
    color: 	@on_primary_container;
}

.widget-dnd > switch {
    min-width: 46px;
    min-height: 24px;
    border-radius: 12px;
    background: 	@outline;
    border: 1px solid @outline;
}

.widget-dnd > switch:checked {
    background: @surface_bright;
    border: 1px solid @surface_bright;
}

.widget-dnd > switch slider {
    min-width: 20px;
    min-height: 20px;
    background: @cc-bg;
    border-radius: 10px;
    margin: 1px;
}

.widget-dnd > switch:checked slider {
    background: @cc-bg;
    border-radius: 10px;
    margin: 1px;
}
.widget-dnd > label {
    font-size: 14px;
    font-weight: bold;
    color:@tertiary_container;
}

/*
─── WIDGET LABELS ───
*/
.widget-label {
    margin: 10px;
}

.widget-label > label {
    font-size: 8px;
    color: @text-color;
}
/*
▄▄▄▄  ▄  ▄▄▄ ▗▞▀▘
█ █ █ ▄ ▀▄▄  ▝▚▄▖
█   █ █ ▄▄▄▀     
      █          
*/
.blank-window {
    background: alpha(@background, 0.0);
}

